<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jarvis.telegrambot</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/adebayostephenoluwadamilola/Desktop/Jarvis-BotTelegram/venv/bin/python</string>
        <string>/Users/adebayostephenoluwadamilola/Desktop/Jarvis-BotTelegram/bot.py</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/adebayostephenoluwadamilola/Desktop/Jarvis-BotTelegram</string>
    
    <key>StandardOutPath</key>
    <string>/Users/adebayostephenoluwadamilola/Desktop/Jarvis-BotTelegram/bot.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/adebayostephenoluwadamilola/Desktop/Jarvis-BotTelegram/bot.error.log</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
